
{{!--
  <button class="btn btn-info btn-xs col-xs-2 col-sm-2 col-md-2 col-lg-2" {{action 'openRuntimeProj' project.id usePreprodUrl}}>
--}}


<button onclick={{Clicked}} class="btn btn-info btn-xs col-xs-2 col-sm-2 col-md-2 col-lg-2" >
Open Project
</button>