<h3>Runtime Projects List</h3>
<br>
<h5>Current Runtime:
  <b class="sliding-middle-out">{{runtime}}</b>
</h5>
<hr>
<div>
  <br>
  <br>
  <br>
  <div class="projects-list">
    {{projects-list projectDeleted=(action 'loadRuntimeLists') projects=runtimeProjects runtime=runtime }}
  </div>
</div>



